<ion-header>
  <ion-toolbar color="primary">
    <ion-title> Registro </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="light">
  <swiper #swiper [config]="config" [pagination]="{ clickable: true }" [navigation]="{ prevEl: '.swiper-navigation-prev', nextEl: '.swiper-navigation-next'}">
    <ng-template swiperSlide >
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit1()">
        <h3>Datos Personales</h3>
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input formControlName="nombre" type="text"  [(ngModel)]="medico.nombre"></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="submitted1 && errCtrl1.nombre.errors?.required" color="danger">
          <ion-text color="danger">Campo Nombre es requerido.</ion-text>
        </span>
        <ion-item>
          <ion-label position="floating">Apellido</ion-label>
          <ion-input formControlName="apellido" type="text" [(ngModel)]="medico.apellido"></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="submitted1 && errCtrl1.apellido.errors?.required">
          <ion-text color="danger">Campo Apellido es requerido.</ion-text> 
        </span>
        <ion-item>
          <ion-label position="floating">Username</ion-label>
          <ion-input formControlName="username" type="text" [(ngModel)]="medico.username"></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="submitted1 && errCtrl1.username.errors?.required" color="danger">
          <ion-text color="danger">Campo Username es requerido.</ion-text>
        </span>
        <ion-item>
          <ion-label position="floating">E-mail</ion-label>
          <ion-input formControlName="email" type="email" [(ngModel)]="medico.email" required></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="submitted1 && errCtrl1.email.errors?.required" color="danger">
          <ion-text color="danger">Campo Email es requerido.</ion-text>
        </span>
        <span class="error ion-padding" *ngIf="submitted1 && errCtrl1.email.errors?.email" color="danger">
          <ion-text color="danger">Formato de email no valido.</ion-text>
        </span>
        <ion-item>
          <ion-label position="floating">Email recuperacion</ion-label>
          <ion-input formControlName="recoveryEmail" [(ngModel)]="medico.recoveryEmail"></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="submitted1 && errCtrl1.recoveryEmail.errors?.required" color="danger">
          <ion-text color="danger">Campo Email recuperacion es requerido</ion-text>
        </span>
        <span class="error ion-padding" *ngIf="submitted1 && errCtrl1.recoveryEmail.errors?.email" color="danger">
          <ion-text color="danger">Formato de email no valido.</ion-text>
        </span>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input formControlName="password" type="password" [(ngModel)]="medico.password" required></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="submitted1 && errCtrl1.password.errors?.required" color="danger">
          <ion-text color="danger">Campo Password es requerido.</ion-text>
        </span>
        <span class="error ion-padding" *ngIf="submitted1 && errCtrl1.password.errors?.minLength" color="danger">
          <ion-text color="danger">Password debe ser mayor a 8 caracteres</ion-text>
        </span>
        <span class="error ion-padding" *ngIf="submitted1 && errCtrl1.password.errors?.pattern" color="danger">
          <ion-text color="danger">Debe incluir numeros y al menos una mayuscula</ion-text>
        </span>

        <ion-row>
          <ion-col>
            <ion-button type="submit" color="primary" expand="block">Siguiente</ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ng-template>
    <ng-template swiperSlide>
      <form [formGroup]="signupForm2" (ngSubmit)="onSubmit2()">
        <h3>Cuentanos sobre ti</h3>
        <ion-item>
          <ion-label position="floating">Profesion</ion-label>
          <ion-input formControlName="profesion" type="text" [(ngModel)]="medico.profesion"></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="submitted2 && errCtrl2.profesion.errors?.required" color="danger">
          <ion-text color="danger">Campo profesion es requerido</ion-text>
        </span>
        <ion-item>
          <ion-label position="floating">Descripcion</ion-label>
          <ion-input formControlName="descripcion" type="text"  [(ngModel)]="medico.descripcion"></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="submitted2 && errCtrl2.descripcion.errors?.required" color="danger">
          <ion-text color="danger">Campo descripcion es requerido</ion-text>
        </span>
        <ion-item>
          <ion-label position="floating">Numero Contacto</ion-label>
          <ion-input formControlName="numeroContacto" type="number" [(ngModel)]="medico.numeroContacto"></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="submitted2 && errCtrl2.numeroContacto.errors?.required" color="danger">
          <ion-text color="danger">Campo Numero Contacto es requerido</ion-text>
        </span>
        <ion-item>
          <ion-label position="floating">Slogan</ion-label>
          <ion-input formControlName="slogan" type="text" [(ngModel)]="medico.slogan" required></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="submitted2 && errCtrl2.slogan.errors?.required" color="danger">
          <ion-text color="danger">Campo Slogan es requerido</ion-text>
        </span>
        <ion-row>
          <ion-col>
            <ion-button type="submit" color="success" expand="block">Registrar</ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ng-template>
  </swiper>
</ion-content>