.img-center {
  height: 100px !important;
  width: 100px !important;
  align-items: center;
}
ion-card {
  align-items: center;
}
ion-grid {
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
}
