<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-button color="dark" (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <div class="seleccion" *ngIf="add === false">
    <h1>Seleccione la clinica</h1>
    <ion-list>
      <ion-item>
        <ion-label>Clinicas</ion-label>
        <ion-select>
          <ion-select-option *ngFor="let c of clinicas" [value]="c.clinicaId">{{c.nombreClinica}}</ion-select-option>
        </ion-select>
      </ion-item>
      <br>
      <ion-text>Deseas agregar tu propia clinica?</ion-text>
      <br>
      <ion-button color="success" (click)="setAdd()">Agregar</ion-button>
    </ion-list>
  </div>

  <div class="add-clinica" *ngIf="add === true"> 
    <h1>Formulario</h1>
    <button expand="block" color="success" (click)="setBack()">Add</button>
  </div>

</ion-content>
