<ion-header [translucent]="true"> 
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-button color="dark" (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <swiper #swiper [config]="config" [pagination]="{ clickable: true }" *ngIf="horarios.length <1">
    <ng-template swiperSlide>
      <ion-list>
        <img src="../../../../assets/app/welcome.gif" class="img-center"/>
        <h1>Bienvenido</h1>
        <p>
          En esta sección puedes registrar tus horarios
          de atención para esta clínica.
        </p>
      </ion-list>
    </ng-template>
    <ng-template swiperSlide>
      <ion-list>
        <img src="../../../../assets/app/horario-add.png" class="img-medium"/>
        <h1>Es fácil</h1>
        <p>
          Selecciona el dia y ingresa el intervalo de horas 
          que trabajas ese día.
        </p>
        <h2>Listo?</h2>
            <ion-button fill="clear" (click)="goToAdd()">Agregar<ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
      </ion-list>
    </ng-template>
  </swiper>
  <div class="add-form">

  </div>
</ion-content>
